<h1>Trips</h2>
<section layout="row">
  <md-list>

    <md-subheader class="md-no-sticky">Available Flights</md-subheader>
    <md-list-item class="secondary-button-padding" ng-repeat="flight in $tripsCtrl.getAllFlights()">
      <p>Origin: {{flight.origin}}  Destination: {{flight.destination}}  Offset: {{flight.offset}}  Flight-Time: {{flight.flightTime}}</p>
      <md-button class="md-secondary">Add to Itinerary</md-button>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Itinerary</md-subheader>
    <md-list-item>
      <p>First flight.</p>
    </md-list-item>
    <md-list-item>
      <p>Second flight.</p>
    </md-list-item>
    <md-list-item class="secondary-button-padding">
      <p>Last Flight</p>
      <md-button class="md-secondary">Remove from Itinerary</md-button>
    </md-list-item>
  </md-list>
</section>
