<h1>Flights</h1>
<div class="label">Origin: {{$flightsCtrl.getOrigin()}}</div>
<section layout="row">
  <md-button class="md-raised" ng-click="$flightsCtrl.setOrigin('Any')">Any</md-button>
  <md-button class="md-raised" ng-repeat="loc in $flightsCtrl.getAllLocations()" ng-click="$flightsCtrl.setOrigin(loc.city)">
    {{loc.city}}
  </md-button>
</section>
<div class="label">Destination: {{$flightsCtrl.getDestination()}}</div>
<section layout="row">
  <md-button class="md-raised" ng-click="$flightsCtrl.setDestination('Any')">Any</md-button>
  <md-button class="md-raised" ng-repeat="loc in $flightsCtrl.getAllLocations()" ng-click="$flightsCtrl.setDestination(loc.city)">
    {{loc.city}}
  </md-button>
</section>
<ul>
  <li ng-repeat="flight in $flightsCtrl.getAllFlights()">
    <span ng-click="$flightsCtrl.setCurrentFlight(flight.id)">
      origin: {{$flightsCtrl.flightOrigin(flight)}}  destination: {{$flightsCtrl.flightDestination(flight)}}  departure: {{$flightsCtrl.flightDeparture(flight)}}  arrival: {{$flightsCtrl.flightArrival(flight)}}
    </span>
  </li>
</ul>
