<md-content>
  <md-tabs>
    <md-tab label="Flights">
      <md-content class="md-padding">
        <h1>Flights Tab</h1>
        <p>some flights info ...</p>
      </md-content>
    </md-tab>
    <md-tab label="Locations">
      <md-content class="md-padding">
        <h1>Locations Tab</h1>
        <p>some locations info ...</p>
      </md-content>
    </md-tab>
    <md-tab label="Trips">
      <md-content class="md-padding">
        <h1>Trips Tab</h1>
        <p>some trips info ...</p>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
<flight-map></flight-map>
